<div class="splashBackground">
	<div class="searchAreaLogo">
		<img src="img/logo.jpg" alt="">
	</div>

	<div class="splashList">
		<div class="splashItem">
			<a target="_blank" href="http://www.argos.co.uk">argos.co.uk</a>
		</div>

		<div class="splashItem">
			<a target="_blank" href="http://argos-v2015.com/original">argos-v2015.com/original</a>
		</div>

		<div class="splashItem">
			<a target="_blank" href="http://argos-v2015.com/vheader">argos-v2015.com/vheader</a>
		</div>

		<div class="splashItem">
			<a target="_blank" href="http://argos-v2015.com/vnick">argos-v2015.com/vnick</a>
		</div>

		<div class="splashItem">
			<a target="_blank" href="http://argos-v2015.com/vexpand">argos-v2015.com/vexpand</a>
		</div>

		<div class="splashItem">
			<a target="_blank" href="http://argos-v2015.com/vx">argos-v2015.com/vx</a>
		</div>

		<div class="splashItem">
			<a target="_blank" href="http://argos-v2015.com/vy">argos-v2015.com/vy <span class="label label-success">Recommended</span></a>
		</div>
	</div>
</div>

